*{
    margin: 0%;
    padding: 0%;
}

section{
    height: 100vh;
    width: auto;
}

#main{
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction:column;
}
.input-con{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.input-con input{
    height: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.input-con button{
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    border: none;
}
li{
    list-style-type: none;
}

#output{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
}
#output li{
    background-color: rgba(255, 255, 255, 0.398);
    padding: 10px;
    border: 2px solid white;
    width: auto;
    display: flex;
    color: black;
    gap : 10px;
    border-radius: 10px;
    font-size: 20px;
}

#output li button{
    padding: 5px;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    background-color: red;
    color: white;
}
